<div class="px-4 sm:px-0">
  <button
    class="flex items-center font-primeng sm:my-5 mb-12 mt-5"
    routerLink=".."
  >
    <ui-icon name="chevron-left" [size]="18"></ui-icon>პროდუქტები
  </button>

  @if(editMode){
  <div class="flex w-full sm:justify-end justify-center">
    <ui-dialog-actions
      [showCancel]="true"
      (cancelClicked)="editMode = false"
      (saveClicked)="onSaveClick()"
      (canceledClicked)="editMode = false"
    ></ui-dialog-actions>
  </div>
  }@else {
  <div class="w-full flex justify-end">
    <p-button
      icon="pi pi-pencil"
      label="ცვლილება"
      severity="secondary"
      [text]="true"
      [outlined]="true"
      (click)="onEditSaleClick()"
    >
    </p-button>
  </div>
  }
</div>

<div
  class="w-full bg-primeng-surface-0 p-5 my-5 border"
  [ngClass]="{ 'border-dashed ': editMode }"
>
  @if(editMode){

  <dish-basic-form [dish]="dishForm" [isDialog]="false"></dish-basic-form>
  }@else{

  <p class="font-primeng text-2xl font-bold mb-2">{{ dish.title }}</p>
  <p class="font-primeng mb-12 text-sm">ფასი: {{ dish.price }}₾</p>

  }

  <div>
    <ui-responsive-data-view
      title="ნედლეული"
      [data]="dish.ingredients"
      [showAddButton]="editMode"
      [showDeleteButton]="editMode"
      [clickable]="editMode"
      [emitDeleteIndex]="true"
      [emitRowIndex]="true"
      (addButtonClicked)="onAddClick()"
      (deleteClicked)="onDeleteClick($event)"
      (rowClicked)="onRowClick($event)"
    >
      <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
      <ui-data-element name="რაოდენობა">
        <ng-template uiTemplate let-ingredient>
          <p class="truncate">
            {{
              ingredient.measurement_amount +
                " " +
                (ingredient.measurement_type | measurementType)
            }}
          </p>
        </ng-template>
      </ui-data-element>
    </ui-responsive-data-view>
  </div>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="გაყიდვა">
  <ingredient-record-dialog
    [ingredientRecord]="
      selectedIngredientIndex !== undefined
        ? (dishForm.ingredients || [])[selectedIngredientIndex]
        : {}
    "
    (saveClicked)="onRecordSaveClick($event)"
  ></ingredient-record-dialog>
</ui-dialog>
}
