<form #form="ngForm" class="flex flex-col pb-5 max-w-screen sm:min-w-96">
  <div class="flex flex-col pb-5">
    <label for="entity" class="pb-1 font-primeng">ნედლეული</label>
    <p-dropdown
      required
      name="entity"
      appendTo="body"
      optionLabel="title"
      placeholder="აირჩიე ნედლეული"
      class="w-full"
      [options]="ingredientOptions"
      [ngModel]="selectedRecord"
      (ngModelChange)="onIngredientSelect($event)"
    />
  </div>
  <label for="quantity" class="pb-1">რაოდენობა</label>
  <div class="flex justify-between gap-x-4 pb-5">
    <input
      required
      pInputText
      name="quantity"
      id="title"
      type="number"
      aria-describedby="title-help"
      class="w-full sm:w-2/5"
      [(ngModel)]="ingredientRecord.measurement_amount"
    />
    <p-dropdown
      required
      name="type"
      appendTo="body"
      optionLabel="name"
      optionValue="id"
      placeholder="აირჩიე ტიპი"
      class="w-full"
      [options]="measurementTypeOptions"
      [(ngModel)]="ingredientRecord.measurement_type"
    />
  </div>

  <ui-dialog-actions
    [disabled]="form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
