<div
  class="w-full flex items-center justify-between px-5 h-12 bg-primeng-surface-100 border-b border-primeng-surface-border"
>
  <div>
    <h1>LOGO</h1>
  </div>
  <div class="flex items-center gap-x-2">
    <div
      class="p-1 cursor-pointer flex sm:hidden bg-primeng-surface-ground rounded-primeng border-primeng-surface-border border items-center justify-center"
      (click)="onMenuClick()"
    >
      <ui-icon name="menu" [size]="18"></ui-icon>
    </div>
    <div
      class="w-10 h-10 rounded-full bg-primeng-surface-ground border border-primeng-surface-border"
    ></div>
  </div>
</div>
