<div class="p-5">
  <ui-responsive-data-view
    title="შესყიდვები"
    loaderId="purchases"
    [dataSource]="purchasesDataSource"
    [showAddButton]="true"
    [showDeleteButton]="true"
    [hasPagination]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ng-template uiTemplate="note">
      <p class="mb-2">
        ჯამური თანხა : {{ purchasesDataSource.response?.total_price }}₾
      </p>
    </ng-template>

    <ng-template uiTemplate="filter">
      <div>
        <label class="mb-1">თარიღი</label>
        <div class="flex flex-col sm:flex-row sm:items-center gap-2">
          <p-calendar
            name="date"
            appendTo="body"
            dateFormat="yy-mm-dd"
            hourFormat="24"
            placeholder="-დან"
            [showClear]="true"
            [maxDate]="purchasesDataSource.filter.end_date"
            [(ngModel)]="purchasesDataSource.filter.start_date"
          />
          <p-calendar
            name="date"
            appendTo="body"
            dateFormat="yy-mm-dd"
            hourFormat="24"
            placeholder="-მდე"
            [showClear]="true"
            [minDate]="purchasesDataSource.filter.start_date"
            [(ngModel)]="purchasesDataSource.filter.end_date"
          />
        </div>
      </div>
    </ng-template>
    <ui-data-element name="თარიღი">
      <ng-template uiTemplate let-sale>
        <p class="truncate">
          {{ sale.date | date : "dd/MM/yy" }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="დანახარჯი">
      <ng-template uiTemplate let-purchase>
        <p class="truncate">{{ purchase.total_price }}₾</p>
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="შესყიდვა">
  <purchase-basic-form
    [purchase]="selectedPurchase"
    (saveClicked)="onSaveClick($event)"
  ></purchase-basic-form>
</ui-dialog>
}
