<div class="p-5">
  <ui-responsive-data-view
    title="შესყიდვები"
    loaderId="purchases"
    [dataSource]="purchasesDataSource"
    [showAddButton]="true"
    [showDeleteButton]="true"
    [hasPagination]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
    <ui-data-element name="თარიღი">
      <ng-template uiTemplate let-sale>
        <p class="truncate">
          {{ sale.date | date : "dd/MM/yy" }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="დანახარჯი">
      <ng-template uiTemplate let-purchase>
        <p class="truncate">{{ purchase.total_price }}₾</p>
      </ng-template>
    </ui-data-element>
    <ui-data-element
      name="ჯამური რაოდენობა"
      valueField="total_amount"
    ></ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="შესყიდვა">
  <purchase-basic-form
    [purchase]="selectedPurchase"
    (saveClicked)="onSaveClick($event)"
  ></purchase-basic-form>
</ui-dialog>
}
