<div class="p-5">
  <ui-responsive-data-view
    title="შესყიდვები"
    loaderId="purchases"
    [dataSource]="purchasesDataSource"
    [showAddButton]="true"
    [showDeleteButton]="true"
    [hasPagination]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ng-template uiTemplate="note">
      <p class="mb-2">
        ჯამური თანხა : {{ purchasesDataSource.response?.total_price }}₾
      </p>
    </ng-template>

    <ng-template uiTemplate="filter">
      <div>
        <div class="mb-4">
          <label for="quantity" class="pb-1 font-primeng">თარიღი -დან</label>
          <p-calendar
            name="date"
            appendTo="body"
            dateFormat="yy-mm-dd"
            hourFormat="24"
            class="mb-5"
            [showClear]="true"
            [maxDate]="purchasesDataSource.filter.end_date"
            [(ngModel)]="purchasesDataSource.filter.start_date"
          />
        </div>
        <div>
          <label for="quantity" class="pb-1 font-primeng">თარიღი -მდე</label>
          <p-calendar
            name="date"
            appendTo="body"
            dateFormat="yy-mm-dd"
            hourFormat="24"
            class="mb-5"
            [showClear]="true"
            [minDate]="purchasesDataSource.filter.start_date"
            [(ngModel)]="purchasesDataSource.filter.end_date"
          />
        </div>
      </div>
    </ng-template>
    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
    <ui-data-element name="თარიღი">
      <ng-template uiTemplate let-sale>
        <p class="truncate">
          {{ sale.date | date : "dd/MM/yy" }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="დანახარჯი">
      <ng-template uiTemplate let-purchase>
        <p class="truncate">{{ purchase.total_price }}₾</p>
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="შესყიდვა">
  <purchase-basic-form
    [purchase]="selectedPurchase"
    (saveClicked)="onSaveClick($event)"
  ></purchase-basic-form>
</ui-dialog>
}
