<form #form="ngForm" class="flex flex-col pb-5 max-w-screen">
  <div class="flex flex-col pb-5">
    <label for="title" class="pb-1">დასახელება</label>
    <input
      required
      pInputText
      name="title"
      id="title"
      type="text"
      class="w-full"
      aria-describedby="title-help"
      [(ngModel)]="ingredient.title"
    />
  </div>
  <label for="quantity" class="pb-1">რაოდენობა</label>
  <div class="flex justify-between gap-x-4 pb-8">
    <input
      required
      pInputText
      name="quantity"
      id="title"
      type="number"
      aria-describedby="title-help"
      class="sm:w-40 w-full"
      [(ngModel)]="ingredient.measurement_amount"
    />
    <p-dropdown
      required
      name="type"
      appendTo="body"
      optionLabel="name"
      optionValue="id"
      placeholder="აირჩიე ტიპი"
      class="sm:w-40 w-full"
      [options]="measurementTypeOptions"
      [(ngModel)]="ingredient.measurement_type"
    />
  </div>

  <ui-dialog-actions
    [disabled]="form.invalid"
    (saveClicked)="onSaveClick()"
  ></ui-dialog-actions>
</form>
