<form #form="ngForm" class="flex flex-col pb-5 max-w-screen sm:min-w-96">
  <label for="quantity" class="pb-1 font-primeng">თარიღი</label>
  <p-calendar
    required
    name="date"
    appendTo="body"
    dateFormat="yy-mm-dd"
    hourFormat="24"
    class="mb-5"
    [ngClass]="[isDialog ? 'w-full' : 'sm:w-1/2 w-full']"
    [(ngModel)]="purchase.date"
  />

  <ui-dialog-actions
    [disabled]="form.invalid"
    [showCancel]="!isDialog"
    (saveClicked)="onSaveClick()"
    (cancelClicked)="canceledClicked.emit()"
  ></ui-dialog-actions>
</form>
