<ng-content></ng-content> @if(title){
<h1 class="font-primeng font-semibold text-xl mb-5">{{ title }}</h1>
} @if(showAddButton){
<div class="flex w-full justify-end mb-5">
  <button
    class="p-button flex gap-2 items-center"
    (click)="addButtonClicked.emit()"
  >
    <ui-icon name="plus" [size]="18" color="pointer"></ui-icon>
    <p class="font-primeng">დამატება</p>
  </button>
</div>
}
<div class="hidden sm:block">
  <p-table
    [paginator]="(data?.length || 0) > 10"
    [value]="data || []"
    [rows]="10"
    [totalRecords]="data?.length || 0"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        @for(column of columnList; track column.name){
        <th class="font-primeng">{{ column.name }}</th>
        } @if(showDeleteButton){
        <th></th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr class="hover:bg-primeng-surface-100" (click)="rowClicked.emit(row)">
        @for(column of columnList; track column.name){
        <td>
          @if(column.templateRef ){

          <ng-container
            *ngTemplateOutlet="
              column.template?.template;
              context: { $implicit: row }
            "
          ></ng-container>

          }@else{

          <p>{{ row[column.valueField] || "" }}</p>

          }
        </td>
        } @if(showDeleteButton){
        <td>
          <button (click)="onDeleteClick($event, row)">
            <ui-icon name="trash" [size]="16"></ui-icon>
          </button>
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="sm:hidden">
  @for( dataItem of data; track dataItem[trackPropertyName]){
  <button
    class="w-full min-h-32 bg-primeng-surface-0 max-w-full rounded-md p-4 my-3"
    (click)="rowClicked.emit(dataItem)"
  >
    <div class="mb-5">
      <p-button severity="secondary" (click)="onDeleteClick($event, dataItem)">
        <ui-icon name="trash" color="pointer" [size]="16"></ui-icon
      ></p-button>
    </div>

    @for(column of columnList; track column.name){
    <div
      class="flex mb-5 items-center justify-between truncate border-primeng-surface-border border-b"
    >
      <div class="flex items-center gap-2 my-2 truncate">
        <p class="font-bold font-primeng">{{ column.name }}:</p>
        <p class="truncate font-primeng">
          @if(column.templateRef ){

          <ng-container
            *ngTemplateOutlet="
              column.template?.template;
              context: { $implicit: dataItem }
            "
          ></ng-container>

          }@else{

          {{ dataItem[column.valueField] || "" }}

          }
        </p>
      </div>
    </div>

    }</button
  >}
</div>
