<div class="p-5">
  <ui-responsive-data-view
    title="გაყიდვები"
    loaderId="sales"
    [dataSource]="salesDataSource"
    [showAddButton]="true"
    [showDeleteButton]="true"
    [hasPagination]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ng-template uiTemplate="note">
      <p class="mb-2">
        ჯამური თანხა : {{ salesDataSource.response.total_price }}₾
      </p>
      <p>ჯამური რაოდენობა : {{ salesDataSource.response.total_amount }}</p>
    </ng-template>

    <ng-template uiTemplate="filter">
      <div>
        <div class="mb-2">
          <label for="quantity" class="pb-1 font-primeng">თარიღი -დან</label>
          <p-calendar
            name="date"
            appendTo="body"
            dateFormat="yy-mm-dd"
            hourFormat="24"
            class="mb-5"
            [showClear]="true"
            [maxDate]="salesDataSource.filter.end_date"
            [(ngModel)]="salesDataSource.filter.start_date"
          />
        </div>
        <div>
          <label for="quantity" class="pb-1 font-primeng">თარიღი -მდე</label>
          <p-calendar
            name="date"
            appendTo="body"
            dateFormat="yy-mm-dd"
            hourFormat="24"
            class="mb-5"
            [showClear]="true"
            [minDate]="salesDataSource.filter.start_date"
            [(ngModel)]="salesDataSource.filter.end_date"
          />
        </div>
      </div>
    </ng-template>

    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
    <ui-data-element name="თარიღი">
      <ng-template uiTemplate let-sale>
        <p class="truncate">
          {{ sale.date | date : "dd/MM/yy" }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="შემოსავალი">
      <ng-template uiTemplate let-sale>
        <p class="truncate">{{ sale.total_price }}₾</p>
      </ng-template>
    </ui-data-element>
    <ui-data-element
      name="ჯამური რაოდენობა"
      valueField="total_amount"
    ></ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="გაყიდვა">
  <sale-basic-form
    [sale]="selectedSale"
    (saveClicked)="onSaveClick($event)"
  ></sale-basic-form>
</ui-dialog>
}
