<div class="p-5">
  <ui-responsive-data-view
    title="ნედლეული"
    loaderId="ingredient"
    [dataSource]="ingredientsDataSource"
    [showAddButton]="true"
    [showDeleteButton]="true"
    [hasPagination]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
    <ui-data-element name="ერთეული">
      <ng-template uiTemplate let-ingredient>
        <p class="truncate">
          {{ ingredient.measurement_type | measurementType }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="ფასი">
      <ng-template uiTemplate let-ingredient>
        <p class="truncate">{{ ingredient.price || 0 }}₾</p>
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</div>
@if(isIngredientDialogVisible){
<ui-dialog [(visible)]="isIngredientDialogVisible" header="ნედლეული">
  <ingredient-dialog
    [ingredient]="selectedIngredient"
    (saveClicked)="onSaveClick($event)"
  ></ingredient-dialog>
</ui-dialog>
}
