<div class="p-5">
  <ui-responsive-data-view
    title="კერძები"
    [data]="dishes"
    [showAddButton]="true"
    [showDeleteButton]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
    <ui-data-element name="რაოდენობა">
      <ng-template uiTemplate let-ingredient>
        <p class="truncate">
          {{
            ingredient.measurement_amount +
              " " +
              (ingredient.measurement_type | measurementType)
          }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="ფასი" valueField="price"></ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="კერძი">
  <dish-dialog
    [dish]="selectedDish"
    (saveClicked)="onSaveClick($event)"
  ></dish-dialog>
</ui-dialog>
}
