<div class="p-5">
  <ui-responsive-data-view
    title="კერძები"
    loaderId="dishes"
    [data]="dishes"
    [showAddButton]="true"
    [showDeleteButton]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>
    <ui-data-element name="ერთეული">
      <ng-template uiTemplate let-dish>
        <p class="truncate">
          {{ dish.measurement_type | measurementType }}
        </p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="ფასი">
      <ng-template uiTemplate let-dish>
        <p class="truncate">{{ dish.price }}₾</p>
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="კერძი">
  <dish-basic-form
    [dish]="selectedDish"
    (saveClicked)="onSaveClick($event)"
  ></dish-basic-form>
</ui-dialog>
}
