<div class="p-5">
  <ui-responsive-data-view
    title="პროდუქტები"
    loaderId="dishes"
    [dataSource]="dishesDataSource"
    [showAddButton]="true"
    [showDeleteButton]="true"
    [hasPagination]="true"
    (addButtonClicked)="onAddClick()"
    (deleteClicked)="onDeleteClick($event)"
    (rowClicked)="onRowClick($event)"
  >
    <ng-template uiTemplate="filter">
      <div class="flex flex-col">
        <label class="mb-1">პროდუქტი</label>
        <input
          pInputText
          name="product"
          id="keyword"
          type="text"
          placeholder="შეიყვანეთ დასახელება"
          aria-describedby="keyword-search"
          [(ngModel)]="dishesDataSource.filter.keyword"
        />
      </div>
    </ng-template>

    <ui-data-element name="დასახელება" valueField="title"></ui-data-element>

    <ui-data-element name="ფასი">
      <ng-template uiTemplate let-dish>
        <p class="truncate">{{ dish.price | number : "1.2-2" }}₾</p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="ნედლეულის ხარჯი">
      <ng-template uiTemplate let-dish>
        <p class="truncate">{{ dish.ingredients_cost | number : "1.2-2" }}₾</p>
      </ng-template>
    </ui-data-element>
    <ui-data-element name="მარაგი">
      <ng-template uiTemplate let-dish>
        <p
          class="truncate"
          [ngClass]="{
            'text-red-500': dish.status === entityStockStatus.Negative
          }"
        >
          {{ dish.stock_amount }} {{ dish.measurement_type | measurementType }}
        </p>
      </ng-template>
    </ui-data-element>
  </ui-responsive-data-view>
</div>

@if(isDialogVisible){
<ui-dialog [(visible)]="isDialogVisible" header="პროდუქტი">
  <dish-basic-form
    [dish]="selectedDish"
    (saveClicked)="onSaveClick($event)"
  ></dish-basic-form>
</ui-dialog>
}
