@import "../node_modules/tailwindcss/base.css" layer(tailwindcss);
@import "../node_modules/tailwindcss/components.css" layer(tailwindcss);
@import "../node_modules/tailwindcss/utilities.css" layer(tailwindcss);

@import "primeng/resources/themes/aura-light-noir/theme.css";
/* @import "primeng/resources/themes/saga-orange/theme.css"; */

@import "primeng/resources/primeng.css";
@import "./styles/fonts.css";

body {
  @apply font-arialGeo;
}

.spinner {
  max-width: 100px;
  max-height: 100px;
  width: 50%;
  height: 50%;
}
tr {
  @apply hover:bg-primeng-primary-50 cursor-pointer duration-300 transition-all;
}
th {
  @apply cursor-default;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.p-dialog-content {
  @apply sm:p-5 p-2 pb-10 sm:pb-5;
}
.p-dialog-header {
  @apply sm:p-5 px-2 py-5;
}
.p-dialog-bottom .p-dialog {
  @apply m-0 rounded-b-none;
}
@media (max-width: 640px) {
  .p-toast {
    max-width: 90vw;
    word-wrap: break-word;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
}
